#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.toolbar{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.toolbar__item{
  margin: 10px;
  padding: 20px;
  border: 3px solid darkgray;
  color: gray;
}

.toolbar__item:hover{
  border-color: gray;
  transform: scale(1.1);
}

.active{
  margin: 8px;
  padding: 20px;
  border: 3px solid gray;
  background-color: gray;
  color: antiquewhite;
}



